{% extends "header.html" %}


{% block body %}

<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Sök efter alla jobb..</h1>
          <br>
          <form role="form" action="" method="post">
            <div class="input-group col-lg-8 col-lg-offset-2">
              <input type="text" class="form-control input-lg " placeholder="Sök efter..." name="search">
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="submit">Kör!</button>
              </span>
            </div><!-- /input-group -->
          </form>
          <h3>..eller bläddra genom våra listor</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro-content">
  <div class="container">
    <div class="row">

      <div class="promotion-banner">
        <div class="promotion-banner-intro">
          <h3 class="promotion-banner-title">Populära arbetsgivare</h3>
        </div>
        <div class="promotion-banner-logos">
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
        </div>
      </div>


      <!--div class="col-lg-12">
      <h3>Topplistor</h3>
        <div class="intro-content-list">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Alla annonser
          <br>
          {% for cat in JOB_CATEGORIES%}
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ cat }}
          <br>
          {% endfor %}
        </div-->
      </div>
    </div>
  </div>
</div>

{{ ERROR }}

{% endblock %}
