{% extends "header.html" %}


{% block body %}

<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Sök efter alla jobb..</h1>
          <br>
          <form role="form" action="" method="post">
            <div class="input-group col-lg-8 col-lg-offset-2">
              <input type="text" class="form-control input-lg " placeholder="Sök efter..." name="search">
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="submit">Kör!</button>
              </span>
            </div><!-- /input-group -->
          </form>
          <h3>..eller bläddra genom våra listor</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro-content">
  <div class="container">
    <div class="row">
      <div class="promotion-banner">

        <!--Start topplistor-->
        <div class="promotion-banner-intro">
          <h3 class="promotion-banner-title">Utforska mellan kategorier</h3>
        </div>
        <div class="promotion-banner-logos">
          <a href="#" class="banner-logo odd-logo">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/5639-200.png" alt="Sample alt">
            <p class="promotion-logo-text">Populäraste</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/5639-200.png" alt="Sample alt">
            <p class="promotion-logo-text">Stigande</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/5639-200.png" alt="Sample alt">
            <p class="promotion-logo-text">Utomlands</p>
          </a>
          <a href="#" class="banner-logo odd-logo">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/5639-200.png" alt="Sample alt">
            <p class="promotion-logo-text">Sommarjobb</p>
          </a>
        </div>
        <!--End topplistor-->
        <!--Start populära arbetsgivare-->
        <div class="promotion-banner-intro">
          <h3 class="promotion-banner-title">Populära arbetsgivare</h3>
        </div>
        <div class="promotion-banner-logos">
          <a href="#" class="banner-logo odd-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
          <a href="#" class="banner-logo odd-logo">
            <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" alt="Sample alt">
            <p class="promotion-logo-text">Se alla annonser</p>
          </a>
        </div>
        <!-- End populära arbetsgivare-->
      </div>
    </div>
  </div>
</div>

{{ ERROR }}

{% endblock %}
