/*
* {
   outline: 1px solid red !important;
}
*/

body,
html {
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #f8f8f8;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #2980B9
}
.navbar-default .navbar-collapse {
    border-color: #2C3E50;
}
.navbar-default .navbar-toggle {
    background-color: #E74C3C;
    border-color: #E74C3C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E74C3C
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f8f8f8;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #ffffff;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #E74C3C
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        
        /*-webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        */
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        /*
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
        */
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #fdfdfd;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

.about {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-image:
    linear-gradient(
      #2980B9, #3498DB
    );
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-image:
    linear-gradient(
      #2980B9, #3498DB
    );
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 0%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-content {
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    color: #2C3E50;
    background-color: #E2E9F5;  
}

.intro-content-list {
    text-align: left;
    font-size: 1.3em;
}

.promotion-banner {

}

.promotion-banner-intro {

}

.promotion-banner-logos {

}
.banner-logo {

}

.result-header {
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
    color: #f8f8f8; 
    background-image:
    linear-gradient(
      #2980B9, #3498DB
    );
}

.result-category {
    text-align: left;
}

.result-category-list {
    text-align: left;
    color: #333;
    background-color: #ECF0F1;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#expand-btn {
    margin-top: 5px;
    background: none;
    border: none;
    box-shadow: none;
}

/* Job ads */
.ad {
    margin: 20px; 
    background: #E2E9F5;
    border-radius: 10px;
    padding: 5px;
}

.ad_logo {
    border: dotted 1px #000000;
    width: 100px;
    height: 100px;
    }

#ad-btn {
    background-color: #E74C3C;
    border-color: #E74C3C;
}

/* /Job ads */

h5 {
    margin-top: 10px;
    margin-left: 0px;
}

footer {
    background-color: #2C3E50;
}

footer .copyright {
    font-size: 1em;
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 0px;
}

@media(max-width:767px) {

    #main-title {
        font-size: 24px;
    }

    .intro-header {
        padding-bottom: 30px;
    }

    .intro-message > h1 {
        font-size: 2.2em;
    }

    .intro-divider {
        width: 100%;
    }

    .promotion-banner {

    }

    .promotion-banner-intro {
        width: 100%;
        float: left;
        padding-bottom: 8px;
        background-color: #2C3E50;
        text-align: center;
    }

    .promotion-banner-logos {
        float: right;
        position: relative;
        white-space: nowrap;
        width: 100%;
    }

    .banner-logo {
        position: relative;
        width: 50%;
        height: 125px;
        display: block;
        float: left; 
    }

    .banner-logo.glyphicon {
    }

    .banner-logo img {
        position: absolute;
        top: 45%;
        left: 50%;
        height: 64px;
        width: 64px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .promotion-banner-title {
        color: #f8f8f8;
    }

    .promotion-logo-text {
        color: #3498DB;
        position: relative;
        top: 90px;
    }

    .odd-logo {
        background-color: #d8e3f5;
    }

    /* Job ads */
    .ad {
        border: dotted 0px #2C3E50;
        border-radius: 0px;
        padding: 0px;
        margin: 20px 0px 0px 0px;
    }

    .ad_logo {
        border: dotted 0px #000000;
        width: 130px;
        height: 130px;
        background-image: url("https://idisciple.blob.core.windows.net/idm/The-Kingdom-Promises-of-Jesus-130x130.jpg");
        }
    
    #ad-btn {
        background-color: #E74C3C;
        border-color: #E74C3C;
        position: absolute;
        top: 85px;
    }

    /* /Job ads */

}