/*
* {
   outline: 1px solid red !important;
}
*/
body,
html {
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #f8f8f8;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #2980B9
}
.navbar-default .navbar-collapse {
    border-color: #2C3E50;
}
.navbar-default .navbar-toggle {
    background-color: #E74C3C;
    border-color: #E74C3C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E74C3C
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f8f8f8;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #ffffff;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #E74C3C
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        
        /*-webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        */
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        /*
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
        */
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #fdfdfd;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}






.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-image:
    linear-gradient(
      #2980B9, #3498DB
    );
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 0%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ad {
    margin: 20px; 
    background: #E2E9F5;
}

.ad_logo {
    border: dotted 1px #000000;
    width: 100px;
    height: 100px;
    }

.ad.h4 {
    margin-left: 100px;

}

@media(max-width:767px) {
    .intro-header {
        padding-bottom: 30px;
    }

    .intro-message > h1 {
        font-size: 2.2em;
    }

    .intro-divider {
        width: 100%;
    }
}